/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /*========= Colors =============*/
    --main-color: #8b5843;
    --text-color: #333333;
    --second-main-color: #f6dcad;
    --explore-more-color: #774936;
    --border-color: #533528;
    --title-color: #ffffff;
    --inactive-line-color: #b9b9b9;
    --cards-p-color: #5b5b5b;
    --calend-background: #b3c4d4;
    --review-background: #ffebc7;
    --views-background: #ffd8da;
    --input-color: #333333;
    --input-background-color: #e3e3e3;
    --icon-back-color: #e7bc91;
    --shadow: #40404040;
    --calend-txt-color: #03014a;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*main container*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15PX;

}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 95%;
    }
}

/*==================== Body ====================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(../imgs/sign-bg.jpeg);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    background-position: center;
    max-height: 3000px;
    background-attachment: fixed;
}

section {
    background-color:#0000009c;
    height: 100vh;
    background-attachment: fixed;
}

.container .sign-in .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.container .header .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b9b9b9;
    margin-right: 20px;
}

.container .header h1 {
    color: white;
    flex: .5;
    font-weight: 500;
}

.container .header ul {
    flex: .5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    flex: .5;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.container .header ul li {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.container .header ul li a {
    color: white;
    text-decoration: none;
}
.container .textarea{
    padding-top: 80px;
}
.container .textarea h1{
    font-size: 50px;
    color:white
}
.container .textarea p{
    font-size: 18px;
    color:white;
    padding-left: 20px;
}
.container .textarea p a{
    color:white;
}
.container form .email{
    width: 60%;
    height: 80px;
    background-color:var(--icon-back-color);
    border-radius:25px;
    outline:none;
    border: transparent;
    padding-left: 40px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 20px;
    min-height: 40px;
}
.container form .email::placeholder{
    font-size: 15px;
    top: 0;
    position:absolute;
    top: 20%;
}
.container form .password{
    width: 60%;
    height: 80px;
    background-color:var(--icon-back-color);
    border-radius:25px;
    outline:none;
    border: none;
    padding-left: 40px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 20px;
}
.container form .password::placeholder{
    font-size: 15px;
    top: 0;
    position:absolute;
    top: 20%;
}
.container .forget-password a{
    left: 48%;
    position: absolute;
    padding-top: 20px;
    color:white;
    text-decoration: none;
}
.container button{
    width: 160px;
    height: 47px;
    margin-top: 90px;
    border-radius:15px;
    border:none;
    font-size: 14px;
    position: absolute;
    left: 25%;
    margin-left: 20px;
    font-weight: 600;
}
/* @media (max-width:980px) and (min-width:740px) {
    
    .container .forget-password a {
        font-size:13px
    }
}
@media (max-width:729px) and (min-width:570px) {
    
    .container .forget-password a {
        font-size:12px
    }
    .container .textarea h1{
        font-size: 40px;
    }
    .container .header ul{
        padding-left: 60px;

    }
}
@media (max-width:569px) and (min-width:376px) {
    
    .container .forget-password a {
        font-size:12px
    }
    .container .textarea h1{
        font-size: 25px;
    }
    .container .header ul{
        padding-left: 100px;
        gap: 10px;
    }
}
@media (max-width:370px) and (min-width:0px) {
    
    .container .forget-password a {
        font-size:12px
    }
    .container .textarea h1{
        font-size: 100px;
    }
    .container .header ul{
        padding-left: 70px;
        gap: 0px;
    }
} */
@media (min-width:0px) and (max-width:570px){
    .container form .email{
        height:70px;
        width:250px
    }
    .container form .password{
        height:70px;
        width:250px
    }
    .container .textarea h1{
        font-size: 20px;
    }
    .container .header ul{
        padding-left: 200px;
        gap: 8px;
        font-size: 13px;
    }
    .container .header h1{
        font-size: 18px;
        flex: 0;
    }
    .container .header ul li a{
        width: 80px;
    }
}
@media (min-width:600px) and (max-width:900px) {
    .container form .email{

        height:80px
    }
    .container form .text{
        height:80px;

    }
}

@media (min-width:992px) {
    .container .forget-password a {
        font-size:12px
    }
    .container .textarea h1{
        font-size: 40px;
    }
    .container .header ul{
        padding-left: 60px;

    }
}
@media (min-width:1200px) {
    .container .forget-password a {
        font-size:13px
    }
}

